<div class="card-container" *ngIf="events.length > 0; else noEvents">
  <div class="event-card" *ngFor="let event of events">
    <h3 class="event-title">{{ event.nombre }}</h3>
    <p><strong>Fecha de Inicio:</strong> {{ event.fechaInicioEvento | date }}</p>
    <p><strong>Fecha de Fin:</strong> {{ event.fechaFinEvento | date }}</p>
    <p><strong>Categoría:</strong> {{ event.categoria }}</p>
    <p><strong>Modalidad:</strong> {{ event.modalidades }}</p>
    <p><strong>Detalles:</strong> {{ event.detalles }}</p>
    <div class="button-group">
      <button class="view-more-btn" (click)="verMas(event)">Ver Más</button>
      <button class="register-btn" (click)="inscribirse(event)">Inscribirse</button>
    </div>
  </div>
</div>

<ng-template #noEvents>
  <p>No hay eventos seleccionados.</p>
</ng-template>
