<header class="app-header">
  <div class="logo">
    <a href="/"><img src="assets/images/logo.png" alt="Logo del Club de Leones"></a>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a href="/"><fa-icon [icon]="faHome"></fa-icon> Inicio</a></li>
      <li><a href="/instalaciones"><fa-icon [icon]="faBuilding"></fa-icon> Instalaciones</a></li>
      <li><a href="/eventos"><fa-icon [icon]="faCalendar"></fa-icon> Eventos</a></li>
    </ul>
  </nav>
  <div class="user-profile">
    <a href="/login"><fa-icon [icon]="faUser"></fa-icon></a>
  </div>
</header>