<div *ngIf="selectedZone" class="selected-zone-panel">
  <h3>{{ selectedZone.name }}</h3>
  <p>{{ selectedZone.descripcion }}</p>

  <div *ngIf="actividades.length > 0">
    <h4>Actividades Programadas (Próximos 7 días):</h4>
    <div class="cards-container">
      <div *ngFor="let actividad of actividades" class="card">
        <p><strong>Día:</strong> {{ actividad.dia }}</p>
        <p><strong>Actividad:</strong> {{ actividad.nombre }}</p>
        <p><strong>Horario:</strong> {{ actividad.horaInicio }} - {{ actividad.horaFin }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="actividades.length === 0">
    <p>No hay actividades programadas en esta zona para los próximos 7 días.</p>
  </div>
</div>
