<div class="form-container">
  <h2>{{isEditMode ? 'Edición de Usuario Administrativo' : 'Registrar Usuario Administrativo'}}</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <!-- Nombre --> 
    <div>
      <label>Nombre Completo:</label>
      <input formControlName="nombre" type="text" />
      <div *ngIf="userForm.get('nombre')?.hasError('required') && userForm.get('nombre')?.touched" class="error-text">
        El nombre es obligatorio.
      </div>
    </div>
    <!-- Correo --> 
    <div>
      <label>Correo Electrónico:</label>
      <input formControlName="correo" type="email" />
      <div *ngIf="userForm.get('email')?.hasError('email') && userForm.get('email')?.touched" class="error-text">
        Ingresa un correo válido.
      </div>
    </div>
    <!-- Contraseña --> 
    <div>
      <label>Contraseña:</label>
      <input formControlName="contrasena" type="password" />
      <div *ngIf="userForm.get('contrasena')?.hasError('required') && userForm.get('contrasena')?.touched" class="error-text">
        La contraseña es obligatoria.
      </div>
      <div *ngIf="userForm.get('contrasena')?.hasError('minlength') && userForm.get('contrasena')?.touched" class="error-text">
        La contraseña debe tener al menos 6 caracteres.
      </div>
    </div>
    <!-- Rol --> 
    <div>
      <label>Rol:</label>
      <select formControlName="rol">
        <option value="" disabled selected>Selecciona un rol</option>
        <option *ngFor="let rol of roles" [value]="rol.name">{{ rol.name }}</option>
      </select>
      <div *ngIf="userForm.get('rol')?.invalid && userForm.get('rol')?.touched" class="error-text">
        Selecciona un rol.
      </div>
    </div>    
    <button type="submit">{{isEditMode ? 'Editar' : 'Registrar'}}</button>
  </form>
</div>
