<div class="modal-overlay">
  <div class="modal-content">
    <h3>Agregar Tipo de Evento Personalizado</h3>
    <form [formGroup]="formularioTipoPersonalizado" (ngSubmit)="guardarTipoPersonalizado()">
      <!-- Nombre -->
      <div>
        <label>Nombre del Tipo de Evento:</label>
        <input formControlName="nombre" placeholder="Escribe el tipo de evento" />
        <div *ngIf="formularioTipoPersonalizado.get('nombre')?.hasError('required') && formularioTipoPersonalizado.get('nombre')?.touched">
          <small class="error-text">El nombre del tipo de evento es obligatorio.</small>
        </div>
      </div>
      <!-- Descripcion -->
      <div>
        <label>Descripción:</label>
        <textarea formControlName="descripcion" placeholder="Escribe una breve descripción"></textarea>
      </div>
      <!-- Modalidad -->
      <div class="radio-section">
        <h3>Modalidades de Participación:</h3>
        <div class="radio-group">
          <label>
            <input formControlName="modalidades" type="radio" value="INDIVIDUAL" />
            Individual
          </label>
          <label>
            <input formControlName="modalidades" type="radio" value="EQUIPO" />
            Equipo
          </label>
        </div>
      </div>
      <!-- Divisor -->
      <div class="section-divider">

      </div>
      <!-- Categoría -->
      <div class="radio-section">
        <h3>Categoría:</h3>
        <div class="radio-group">
          <label>
            <input formControlName="categoria" type="radio" value="VARONIL" />
            Varonil
          </label>
          <label>
            <input formControlName="categoria" type="radio" value="FEMENIL" />
            Femenil
          </label>
          <label>
            <input formControlName="categoria" type="radio" value="MIXTO" />
            Mixto
          </label>
          <label>
            <input formControlName="categoria" type="radio" value="INFANTIL" />
            Infantil
          </label>
        </div>
      </div>
      <!-- Cantidad de participantes -->     
      <div>
        <label>Cantidad de Participantes:</label>
        <input formControlName="cantidadParticipantes" type="number" placeholder="Escribe la cantidad de participantes" />
        <div *ngIf="formularioTipoPersonalizado.get('cantidadParticipantes')?.hasError('min') && formularioTipoPersonalizado.get('cantidadParticipantes')?.touched">
          <small class="error-text">La cantidad debe ser al menos 1.</small>
        </div>
      </div>
      <!-- Metricas de desempeño -->
      <div>
        <label>Métricas para Medir Desempeño:</label>
        <textarea formControlName="metricas" placeholder="Escribe las métricas (separadas por comas)"></textarea>
      </div>
      <button type="submit">Guardar</button>
      <button type="button" (click)="cerrarFormulario()">Cancelar</button>
    </form>
  </div>
</div>
