<div class="event-table-container">
  <!-- Barra de búsqueda -->
  <div class="search-container">
    <input
      type="text"
      placeholder="Buscar eventos..."
      [(ngModel)]="searchTerm"
      class="search-bar"
    />
    <div class="filter-dropdown-container">
      <button class="btn-filter" (click)="toggleDropdown()">
        <fa-icon [icon]="faFilter"></fa-icon>
        Filtrar
      </button>
      <div class="filter-dropdown" *ngIf="dropdownVisible">
        <label for="status-filter">Estado:</label>
        <select [(ngModel)]="selectedStatus" id="status-filter" class="filter-dropdown-select">
          <option value="">Todos los estados</option>
          <option value="INSCRIPCIONES">Inscripciones</option>
          <option value="EN_CURSO">En Curso</option>
          <option value="FINALIZADO">Finalizado</option>
          <option value="CANCELADO">Cancelado</option>
        </select>

        <label for="type-filter">Tipo de evento:</label>
        <select id="filter-type" [(ngModel)]="selectedType" class="filter-dropdown-select">
          <option value="">Todos los tipos</option>
          <option *ngFor="let type of eventTypes" [value]="type">{{ type }}</option>
        </select>

        <label for="date-filter">Fecha:</label>
        <input type="date" [(ngModel)]="selectedDate" id="date-filter" class="filter-dropdown-select" />

        <div class="filter-actions">
      <!--<button class="btn-apply" (click)="aplicarFiltros()">Aplicar</button>-->
          <button class="btn-reset" (click)="clearFilters()">Limpiar Filtros</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Contenido scrollable con las tarjetas -->
  <div class="scrollable-content">
    <div class="cards">
      <div class="card" *ngFor="let evento of displayedEventos">
        <div class="card-header">
          <h3>{{ evento.nombre }}</h3>
          <span 
            class="status" 
            [ngClass]="{
              'inscripciones': evento.estado === 'INSCRIPCIONES',
              'en-curso': evento.estado === 'EN_CURSO',
              'finalizado': evento.estado === 'FINALIZADO',
              'cancelado': evento.estado === 'CANCELADO',
              'error': evento.estado === 'ERROR'
            }"
          >
            {{ evento.estado.replace('_', ' ') }}
          </span>
        </div>
        <div class="card-content">
          <p><strong>Fecha:</strong> {{ evento.fecha }}</p>
          <p><strong>Entrenador:</strong> {{ evento.entrenador }}</p>
          <p><strong>Tipo:</strong> {{ evento.tipo }}</p>
        </div>
        <div class="card-actions">
          <button *ngIf="userRole === 'ADMIN' && evento.estado !== 'FINALIZADO'" class="btn-secondary" (click)="editarEvento(evento)">Editar</button>
          <button *ngIf="userRole === 'ADMIN' && evento.estado !== 'FINALIZADO' && evento.estado !== 'CANCELADO'" class="btn-danger" (click)="cancelarEvento(evento)">Cancelar</button>
        </div>
      </div>
    </div>    
  </div>
</div>
