<div class="form-container">
  <h2>Crear Evento Deportivo</h2>
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <!-- Nombre del evento -->
    <div>
      <label>Nombre del Evento:</label>
      <input formControlName="nombre" type="text" />
      <div *ngIf="eventForm.get('nombre')?.hasError('required') && eventForm.get('nombre')?.touched" class="error-text">
        <fa-icon [icon]="faTriangleExclamation" class="error-icon"></fa-icon>
        El nombre del evento es obligatorio.
      </div>
    </div>
    <!-- Tipo de evento -->
    <div>
      <label>Tipo de Evento:</label>
      <select formControlName="tipoSeleccionado">
        <option value="" disabled selected>Selecciona un tipo de evento</option>
        <option *ngFor="let tipo of tiposPredeterminados" [value]="tipo.idTipoEvento">{{ tipo.nombre }}</option>
      </select>
      <div *ngIf="eventForm.get('tipoSeleccionado')?.invalid && eventForm.get('tipoSeleccionado')?.touched" class="error-text">
        <fa-icon [icon]="faTriangleExclamation" class="error-icon"></fa-icon>
        Seleccionar un tipo de evento es obligatorio.
      </div>
    </div>
    <!--Modal para agregar otro tipo de evento-->
    <button
      type="button"
      class="btn-agregar"
      (click)="abrirFormulario()"
    >
      Agregar otro tipo de evento
    </button>
    <app-add-event-type
      *ngIf="formularioVisible"
      (tipoAgregado)="manejarTipoAgregado($event)"
      (cerrar)="cerrarFormulario()"
    ></app-add-event-type>  
     <!-- Entrenador -->
     <div>
      <label>Entrenador Asignado:</label>
      <select formControlName="entrenadorAsignado">
        <option value="" disabled selected>Selecciona un entrenador</option>
        <option *ngFor="let entrenador of entrenadores" [value]="entrenador.idAdministrador">{{ entrenador.nombre }}</option>
      </select>
      <div *ngIf="eventForm.get('entrenadorAsignado')?.invalid && eventForm.get('entrenadorAsignado')?.touched" class="error-text">
        <fa-icon [icon]="faTriangleExclamation" class="error-icon"></fa-icon>
        Seleccionar un entrenador es obligatorio.
      </div>
    </div>    
    <!-- Fechas de inscripcion -->  
    <div>
      <label>Fechas de Inscripción:</label>
      <input formControlName="fechaInicioInscripcion" type="date" />
      <input formControlName="fechaCierreInscripcion" type="date" />
      <div *ngIf="eventForm.get('fechaInicioInscripcion')?.hasError('fechaAnterior')" class="error-text">
        <fa-icon [icon]="faTriangleExclamation" class="error-icon"></fa-icon>
        La fecha de inicio de inscripción no puede ser anterior a hoy.
      </div>
      <div *ngIf="eventForm.get('fechaCierreInscripcion')?.hasError('fechaAnterior')" class="error-text">
        <fa-icon [icon]="faTriangleExclamation" class="error-icon"></fa-icon>
        La fecha de cierre de inscripción no puede ser anterior a hoy.
      </div>
    </div>
    <!-- Fechas del evento -->
    <div>
      <label>Fechas del Evento:</label>
      <input formControlName="fechaInicioEvento" type="date" />
      <input formControlName="fechaFinEvento" type="date" />
    
      <div *ngIf="eventForm.hasError('fechasEventoInvalidas')" class="error-text">
        <fa-icon [icon]="faTriangleExclamation" class="error-icon"></fa-icon>
        La fecha de inicio del evento debe ser posterior al cierre de inscripciones.
      </div>
      <div *ngIf="eventForm.hasError('fechasEventoIncorrectas')" class="error-text">
        <fa-icon [icon]="faTriangleExclamation" class="error-icon"></fa-icon>
        La fecha de inicio del evento no puede ser posterior a la fecha de fin.
      </div>
      <div *ngIf="eventForm.hasError('fechasEventoEnRangoInscripcion')" class="error-text">
        <fa-icon [icon]="faTriangleExclamation" class="error-icon"></fa-icon>
        Las fechas del evento no pueden estar antes o durante el rango de inscripción.
      </div>
    </div>
    <!-- Horarios -->    
    <div formArrayName="horarios">
      <h3>Actividades</h3>
      <div *ngFor="let horario of horarios.controls; let i = index" [formGroupName]="i">
        <label>Nombre:</label>
        <input formControlName="nombre" type="text"/>
        <label>Día:</label>
        <input formControlName="dia" type="date" />
        <div *ngIf="horario.get('dia')?.hasError('fueraDeRango') && horario.get('dia')?.touched" class="error-text">
          <fa-icon [icon]="faTriangleExclamation" class="error-icon"></fa-icon>
          La fecha seleccionada está fuera del rango del evento.
        </div>
        <label>Hora de Inicio:</label>
        <input formControlName="horaInicio" type="time" />
        <label>Hora de Finalización:</label>
        <input formControlName="horaFin" type="time" />
        <label>Zona Deportiva:</label>
        <select formControlName="zonaDeportiva">
          <option *ngFor="let area of areasDeportivas" [value]="area">{{ area }}</option>
        </select>
        <button (click)="eliminarHorario(i)" type="button">Eliminar</button>
      </div>
      <button (click)="agregarHorario()" type="button">Agregar Actividad</button>
    </div>
    <!-- Modalidad -->
    <div class="radio-section">
      <h3>Modalidades de Participación:</h3>
      <div class="radio-group">
        <label>
          <input formControlName="modalidades" type="radio" value="INDIVIDUAL" />
          Individual
        </label>
        <label>
          <input formControlName="modalidades" type="radio" value="EQUIPO" />
          Equipo
        </label>
      </div>
    </div>
    <!-- Divisor -->
    <div class="section-divider">

    </div>
    <!-- Categoría -->
    <div class="radio-section">
      <h3>Categoría:</h3>
      <div class="radio-group">
        <label>
          <input formControlName="categoria" type="radio" value="VARONIL" />
          Varonil
        </label>
        <label>
          <input formControlName="categoria" type="radio" value="FEMENIL" />
          Femenil
        </label>
        <label>
          <input formControlName="categoria" type="radio" value="MIXTO" />
          Mixto
        </label>
        <label>
          <input formControlName="categoria" type="radio" value="INFANTIL" />
          Infantil
        </label>
      </div>
    </div>
    <!-- Costo -->
    <div>
      <label>Costo de Inscripción:</label>
      <input formControlName="costo" type="number" />
      <div *ngIf="eventForm.get('costo')?.hasError('min') && eventForm.get('costo')?.touched" class="error-text">
        <fa-icon [icon]="faTriangleExclamation" class="error-icon"></fa-icon>
        El costo no puede ser negativo.
      </div>
    </div>
    <!-- Detalles -->   
    <div>
      <label>Detalles adicionales:</label>
      <textarea formControlName="detalles"></textarea>
    </div> 
    <!-- Cancelado -->
    <div class="checkbox-section">
      <input type="checkbox" id="cancelado" formControlName="cancelado" class="styled-checkbox" />
      <label for="cancelado">Marcar como Cancelado</label>
    </div>           
    <button type="submit" class="btn-primary">Guardar</button>
    <button type="button" class="btn-secondary" (click)="cancelar()">Cancelar</button>
  </form>
</div>
