<div class="dashboard-container">
  <h1>Panel del Entrenador</h1>
  <!-- Mensaje de bienvenida -->
  <div class="welcome-message">
    <h2 class="greeting">{{ nombreUsuario }}</h2>
    <div><button class="logout-button" (click)="logout()">Cerrar Sesión</button></div>
  </div>
  <div class="dashboard-panels">
    <!-- Eventos Asignados -->
    <div class="panel">
      <h2>Eventos Asignados</h2>
      <app-event-table [userRole]="'Entrenador'" (eventoSeleccionado)="onEventoSeleccionado($event)"></app-event-table>
    </div>

    <div class="panel">
      <h2>Atletas Inscritos</h2>
      <div *ngIf="atletas.length > 0; else noAtletas">
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Asistencia</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let atleta of atletas">
              <td>{{ atleta.nombre }}</td>
              <td><input type="checkbox" [(ngModel)]="atleta.asistencia"></td>
              <td>
                <button class="btn-secondary" (click)="registrarMetricas(atleta)">
                  Registrar métricas
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noAtletas>
        <p class="no-activities">No hay atletas inscritos para este evento.</p>
      </ng-template>
    </div>    

    <!-- Panel de Tareas -->
    <div class="panel">
      <h2>Panel de Tareas</h2>
      <ul>
        <li>Revisar el progreso de los atletas</li>
        <li>Planificar entrenamientos</li>
        <li>Actualizar resultados</li>
      </ul>
    </div>
  </div>
</div>