<div class="dashboard-container">
  <div class="grid-container">
  <!-- Saludo -->
  <div class="welcome-message">
    <h2 class="greeting">{{ greeting }}</h2>
    <button class="logout-button" (click)="logout()">Cerrar Sesión</button>
  </div>

  <!-- Botones -->
  <div class="button-panel">
    <button class="btn-primary" (click)="descargarConstancias()">Descargar Constancias</button>
    <button class="btn-primary" (click)="compartirLogros()">Compartir Logros</button>
    <button class="btn-primary" (click)="editarDatos()">Editar Datos Personales</button>
    <button class="btn-primary" (click)="verHistorico()">Estadísticas Históricas</button>
  </div>

  <!-- Contenedor principal -->
  <div class="main-content">
    <!-- Panel de datos personales -->
    <div class="personal-data">
      <h3>Datos Personales</h3>
      <hr />
      <div class="data-card-container">
        <div class="data-card">
          <h4>Nombre</h4>
          <p>{{ atleta.nombreCompleto }}</p>
        </div>
        <div class="data-card">
          <h4>Edad</h4>
          <p>{{ atleta.edad }} años</p>
        </div>
        <div class="data-card">
          <h4>Sexo</h4>
          <p>{{ atleta.sexo }}</p>
        </div>
        <div class="data-card">
          <h4>Peso</h4>
          <p>{{ atleta.peso }} kg</p>
        </div>
        <div class="data-card">
          <h4>Estatura</h4>
          <p>{{ atleta.estatura }} m</p>
        </div>
        <div class="data-card">
          <h4>IMC</h4>
          <p>{{ atleta.imc }}</p>
        </div>
      </div>  
    </div>    

    <!-- Panel de estadísticas -->
    <div class="panel statistics">
      <h3>Estadísticas</h3>
      <p>Aquí irán las estadísticas del atleta.</p>
    </div>

    <!-- Tabla de eventos -->
    <div class="panel event-table">
      <h3>Eventos Inscritos</h3>
      <app-event-table [userRole]="'Atleta'"></app-event-table>
    </div>
  </div>
  </div>
</div>
